* {	/* Selettore globale */
	font-size: 105%;
	font-family: Calibri;
}

a, a:visited, a:hover {
	color: black;
	text-decoration: underline;
}

h1 {
	font-size: 150% !important;
	/* In caso di conflitto tra stili uguali per una stessa cosa !important impone di far usare questa regola */
}

h2 {
	font-size: 115%;
}

code {
	font-family: monospace;
	color: #5864f3;
}