* {	/* Selettore globale */
	font-size: 105%;
	font-family: Calibri;
}

body {
	margin: 4%;
}

a, a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	/* text-decoration: underline; */
	text-decoration: none;
}

h1 {
	font-size: 180% !important;
	/* In caso di conflitto tra stili uguali per una stessa cosa !important impone di far usare questa regola */
}

h2 {
	font-size: 115%;
}

code {
	font-family: monospace;
	color: #5864f3;
}