/* Si imposta una larghezza e altezza di tutto il box */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Si nasconde il checkbox */
input { 
  opacity: 0;
  width: 0;
  height: 0;
}

/* Si crea il rettangolo stondato che sarà lo sfondo del pulsante */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: .4s;
}

/* Il cerchio all'interno del pulsante */
.slider:before {
  content: '';
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

/* Cambia lo sfondo del pulsante */
input:checked + .slider{
  background-color: #2196F3;
}

/* Si sposta il cerchio bianco */
input:checked + .slider:before {
  transform: translateX(26px);
}