* {	/* Selettore globale */
	font-size: 105%;
	font-family: Calibri;
}

::selection {
	color: white;
	background-color: #6786FF;
}

body {
	margin: 4%;
}

a, a:visited, a:focus {
	color: black;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

u {
	text-decoration: none;
	background-color: #6786FF;	/* #d5d5d5 */
}

h1 {
	font-size: 180% !important;
	/* In caso di conflitto tra stili uguali per una stessa cosa !important impone di far usare questa regola */
}

h2 {
	font-size: 115%;
}

code {
	font-family: monospace;
	color: #5864f3;
}

img {
	width: 500px;
}

.important {
	font-size: 120%;
	color: red;
}

.content-box {
	width: auto;
	padding: 2% 0 2% 3%;
	margin-right: 40%;
	white-space: pre;
	background-color: #f8f9fa;
	border: 1px solid #f0f0f0;	/* #cacaca */
	font-family: monospace;
	font-size: 1.2em;
}
