body {
	background-color: white;
}

h1 {
	color: black;
}

div {
	color: black;
}

label {
	color: black;
}

#logo {
	width: 75px;
	height: 75px;
	background-image: url('img/black.png');
	background-repeat:no-repeat;
	background-size:contain;
}

body.darkMode {
	background-color: #121212;
}

h1.darkMode {
	color: white;
}

div.darkMode {
	color: white;
}

label.darkMode {
	color: white;
}